*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(25, 108, 81);
}
.container{
    position: fixed;
    bottom: 00;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.box{
    background-color: #fff;
    width: 39rem;
    height: 6rem;
    border-radius: 20px 20px 20px 20px;    
}