*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(25, 108, 81);
}
.container{
    position: fixed;
    bottom: 00;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.box{
    background-color: #fff;
    width: 39rem;
    height: 6rem;
    padding: 1rem;
    border-radius: 20px 20px 20px 20px;
    display: flex;    
    justify-content: space-around;
    align-items: center;
}
.input{}
.label{
    width: 7rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
}
label::after{
    content: '';
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    background-color: #fff;
    top: 0px;
    z-index: -1;
    transition: all 0.3s ease;
}
.box input:checked + label::before{
    content: '';
    position: absolute;
    background-color: #6520a5;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 0 5rem 7rem rgba(0, 0, 0, 0.6);
    transition: transform 0.4s ease;
}
.box input:checked + label::after{
    top: -22px;
}
.icon{
    font-size: 2.5rem;
    color: #6520a5;
    position: relative;
    transition: transform 0.4s ease;
}
.box input:checked + label i {
    color: #fff;
}
.box input:checked + label i, .box input:checked + label::before{
    transform: translateY(-12px);
}
@media screen and (max-width:400px) {
    .box{
      width: 23rem;
    }
    .icon{
      font-size: 1.5rem;
    }
    .box input:checked + label::before{
      width: 50px;
      height: 50px;
    }
  }